.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #43cfec;
  border: 1px solid #43cfec;
  padding: 1.1rem;
  margin: 0.3rem;
  outline: none;
  border-radius: 5px;
}

.button:active {
  background-color: #f30092;
  border-color: #f30092;
}

.button:disabled {
  background-color: #eee;
  border-color: #eee;
}

.container-top {
  display: flex;
}

.container-code {
  height: 400px;
  background-color: #ecf0f1;
  width: 30vw;
  padding: 5px;
  border: 2px solid;
  border-radius: 8px;
  border-color: #43cfec;
}

.container-events {
  display: flex;
  flex: 1;
  justify-content: center;
}

.container-bottom {
  display: flex;
  margin-top: 30px;
}

.tips-container {
  display: flex;
  flex: 1;
  padding: 5px;
  border: 2px solid;
  border-radius: 8px;
  border-color: #43cfec;
}

.tips-container p {
  margin-bottom: 8px;
}
